@model E_TICARET_2023.Models.RegisterViewModel
@{
    ViewBag.Title = "Kayıt Olunuz";
}

<!doctype html>
<html lang="en">
<head>
    <title>Login 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/LoginTema/login-form-14/css/style.css">
    <style>
        div {
            font-family: 'Comic Sans MS';
        }

        h1 {
            font-family: 'Comic Sans MS';
            color: orange
        }

        h4 {
            font-family: 'Comic Sans MS';
            color: cadetblue
        }
    </style>
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h1 id="title">@ViewBag.Title...<i class="bi bi-bookshelf"></i></h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-12">

                    <div class="wrap d-md-flex">
                        <div class="img" style="background-image: url(~/LoginTema/login-form-14/images/regster.flower.jpg); ">
                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <div class="d-flex">
                            </div>
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Yeni bir hesap oluşturunuz.</h4>
                                <hr />
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="row">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="offset-md-2 col-md-10">
                                        <input type="submit" value="Kayıt Ol" class="btn btn-outline-dark" />
                                    </div>
                                </div>
                            }


                            @*<form action="#" class="signin-form">
                                    <div class="form-group mb-3">
                                        <label class="label" for="name">Username</label>
                                        <input type="text" class="form-control" placeholder="Username" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="label" for="password">Password</label>
                                        <input type="password" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
                                    </div>

                                </form>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/LoginTema/login-form-14/js/jquery.min.js"></script>
    <script src="~/LoginTema/login-form-14/js/popper.js"></script>
    <script src="~/LoginTema/login-form-14/js/bootstrap.min.js"></script>
    <script src="~/LoginTema/login-form-02/js/main.js"></script>

</body>
</html>













<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Yeni bir hesap oluşturunuz.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="offset-md-2 col-md-10">
                <input type="submit" value="Kayıt Ol" class="btn btn-outline-dark" />
            </div>
        </div>
    }
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

