@using E_TICARET_2023.Models
@model LoginViewModel
@{
    ViewBag.Title = "Giriş Yapınız";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/LoginTema/login-form-02/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/LoginTema/login-form-02/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/LoginTema/login-form-02/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/LoginTema/login-form-02/css/style.css">

    <title>@ViewBag.Title</title>
    <style>
        div {
            font-family: 'Comic Sans MS' ;
                
        }
        .btn {
            text-decoration: none;
        }
    </style>
</head>

<body>


    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url('/LoginTema/login-form-02/images/bg_1.jpg');"></div>
        <div class="contents order-2 order-md-1">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">

                        <h3 class="font-italic"><strong>Giriş Yapınız </strong><i class="bi bi-door-open"></i></h3>
                        <br />
                        <p class="mb-4">Oturum açmak lütfen yerel bir hesap kullanın...</p>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <section id="loginForm">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="row">
                                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                                            <div class="col-md-10">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label" })
                                            <div class="col-md-10">
                                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="offset-md-2 col-md-10">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="offset-md-2 col-md-10">
                                                <input type="submit" value="Giriş Yap" class="btn btn-outline-dark btn-light" />       
                                                    @Html.ActionLink("Yeni Kullanıcı Olarak Kayıt Ol", "Register", null, new { @class = "btn btn-outline-dark btn-light"})                                               
                                            </div>
                                        </div>
                                        <br />                                   

                                        @* Enable this once you have account confirmation enabled for password reset functionality
                                            <p>
                                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                            </p>*@
                                    }

                                </section>

                            </div>

                            @*<div class="col-md-4">
                                    <section id="socialLoginForm">
                                        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                    </section>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="~/LoginTema/login-form-02/js/jquery-3.3.1.min.js"></script>
    <script src="~/LoginTema/login-form-02/js/popper.min.js"></script>
    <script src="~/LoginTema/login-form-02/js/bootstrap.min.js"></script>
    <script src="~/LoginTema/login-form-02/js/main.js"></script>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}











